/* ajustes de navbar */

.nav-padding {
    padding-left: 215px;
}
.menu-padding{
    padding-right: 215px;
}
/* jumbotron ajustes */
.jumbotron-bg{
    background-color:aliceblue;
    padding-bottom: 50px;
}
/* cards ajustes */
.width-col{
    width: 280px;
}

/*ajustes de footer*/

.footer-center{
    padding-left: 570px;
    font-size: small;
}